.container{
    width:450px;
    margin-top: 200px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 5px;
}

input + div + div{
    display: none;
}

input:invalid + div{
    color: red;
}

input:valid + div{
    display: none;
}

input:valid + div + div{
    display: block;
    color: green;
}